# dependencies
/node_modules

# production build (don't commit, will be built in CI)
/dist

# misc
/.npmrc
/.env
/Dockerfile
/nginx.conf
/.dockerignore
/.package-app.json
.DS_Store

# IDE
.vscode/
.idea/
